@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "CREACION DE LIBROS";
}

<!-- <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>-->

<head>
    <style>
        .container {
            width: 100%;
            margin: 100px auto;
        }

        .text-msg {
            margin: 20px 0;
            display: block;
            clear: both;
            text-align: justify;
        }

        .progressbar {
            margin: 0;
            padding: 0;
            counter-reset: step;
            clear: both;
        }

        .progressbar li {
                list-style-type: none;
                width: 25%;
                float: left;
                font-size: 12px;
                position: relative;
                text-align: center;
                text-transform: uppercase;
                color: #7d7d7d;
        }

        .progressbar li:before {
            width: 30px;
            height: 30px;
                    content: counter(step);
                    counter-increment: step;
                    line-height: 30px;
                    border: 2px solid #7d7d7d;
                    display: block;
                    text-align: center;
                    margin: 0 auto 10px auto;
                    border-radius: 50%;
                    background-color: white;
                        
        }

        .progressbar li:after {
                    width: 100%;
                    height: 2px;
                    content: "";
                    position: absolute;
                    background-color: #7d7d7d;
                    top: 15px;
                    left: -50%;
                    z-index: -1;
        }

        .progressbar li:first-child:after {
                    content: none;
        }

        .progressbar li.active {
                    color: green;
                    font-weight: bold;
                    font-style: italic;
                    text-decoration: underline;
        }

        .progressbar li.active:before {
                        border-color: #55b776;
        }

        .progressbar li.active + li:after {
                        background-color: #55b776;
        }
    </style>
</head>
<body>
    <div class="container" style="background-color: #4e5bf9; color: white;">
        <src img="D:\P02\L02P02_2021AB601_2021GS602\Image\UNICAES_Logo.png" />
        <h2>CREACIÓN DE LIBROS</h2>
    </div>
    <div class="container d-flex">
        <div class="conatiner col-5">
            <div class="container">
                <p>Nombre del Libro</p>
                <input type="text" name="" value="" />
            </div>
            <div class="container">
                <p>Descripción</p>
                <input type="text" name="" value="" />
            </div>
            <div class="container d-flex">
                <div class="container col-2">
                    <p>Precio</p>
                    <input type="text" name="" value="" />
                </div>
                <div class="container col-2">
                    <p>Autor</p>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Seleccionar
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item">Autor1</a></li>
                            <li><a class="dropdown-item">Autor1</a></li>
                        </ul>
                    </div>
                </div>
                <div class="container col-2">
                    <p>Categoría o Género</p>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Seleccionar
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item">Genero1</a></li>
                            <li><a class="dropdown-item">Genero1</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="conatiner"><i class="bi bi-journal-plus"></i></div>
            <div class="container">
                <form asp-action="SubirArchivo" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="archivo">Seleccione el archivo a cargar</label>
                        <input type="submit" class="form-control" id="archivo" name="archivo">Ningun archivo seleccionado</input>

                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary mb-2">subir archivo </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre del Libro</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Autor</th>
                    <th>Categoría</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var libreriaTables in (IEnumerable<dynamic>)ViewData["listadoLibros"])
                {
                <td>@libreriaTables.nombre</td>
                <td>@libreriaTables.descripcion</td>
                <td>@libreriaTables.precio</td>
                <td>@libreriaTables.autor</td>
                <td>@libreriaTables.categoria</td>
                }
            </tbody>
        </table>
    </div>
</body>
<footer>
    <div class="container" style="background-color: #4e5bf9; color: white;">
        <p>2021GS602 - Ana Daniela Girón Saavedra</p>
        <p>2021AB601 - Alanis Alessandra Álvarez Baños</p>
    </div>
</footer>
